body {
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin: 20px;
    
}
nav li{
    display: inline-block;
    
}
nav li a{
    text-decoration: none;
    color : rgb(165, 146, 146);
    
    
}